# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# WebStorm IDE
.idea/

# macOS files
.DS_Store

# Examples that won't be checked in

example/output-exclude-other.html
example/output-include-hidden.html
example/output-no-template.html
